.main-nav {
  //   background-color: rgb(245, 243, 243);//403e3e

  z-index: 100;
position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  &__menu-icon {
    color: white;
     
    margin-right: auto;
    background-image: url('/static/img/menu-icon.png');
    height: 50px;
    width: 50px;
    @media (min-width: 460px) {
      display: none;
    }
    &::before {
      content: 'Menu';
      display: block;
      position: absolute;
      right: 75px;
      top: 35px;
      font-size: 1.8rem;
      font-family: 'Share', cursive;
      
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-right: left;
    align-items: center;
    padding: 0;
    @media (min-width: 460px) {
      width: 95%;
    }
  
    .main-nav__listItem--logo {
      margin: 0 auto 0 10px;
     
      width: 90px;
      height: 60px;
      border: solid 1px #d8d6d6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      
      a {
        color: rgb(247, 242, 242);
        font-family: 'Fjalla One', cursive;
        font-size: 2.4rem;
        width: 74%;
        margin: 0 auto;
       
    
      }


    }
    .main-nav__listItem {
      margin-left: 12px;
      display: none;
        
        @media (min-width: 460px) {
          display: block;
          
        }
       
      a {
        color: rgb(218, 216, 216); //acaaab
        letter-spacing: 1px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: "Share", cursive;
      }
    }
  }
}

/* Style the navbar */

  /* Navbar links */

  
  /* Page content */
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(43, 43, 43);
  }
  
