.main-nav {
  //   background-color: rgb(245, 243, 243);//403e3e

  z-index: 100;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  &__menu-icon {
    cursor: pointer;
    margin-right: auto;
    background-image: url("https://i.imgur.com/IvwKc3H.png");
    height: 50px;
    width: 50px;

    @media (min-width: 460px) {
      display: none;
    }
    &::before {
      content: "Menu";
      display: block;
      position: absolute;
      right: 75px;
      top: 35px;
      font-size: 1.8rem;
      font-family: "Share", cursive;
      color: white;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-right: left;
    align-items: center;
    padding: 0;
    @media (min-width: 460px) {
      width: 95%;
    }
    .main-nav__listItem--logo {
      margin: 0 auto 0 10px;
      width: 90px;
      height: 60px;
      border: solid 1px #d8d6d6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      a {
        color: rgb(247, 242, 242);
        font-family: "Fjalla One", cursive;
        font-size: 2.4rem;
        width: 74%;
        margin: 0 auto;
      }
    }
    .main-nav__listItem {
      margin-left: 12px;
      display: none;

      @media (min-width: 460px) {
        display: block;
      }

      a {
        color: rgb(218, 216, 216); //acaaab
        letter-spacing: 1px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: "Share", cursive;
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(43, 43, 43);
}

.mobile-nav {
  display: none;
  background-color: rgb(23, 22, 22);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;

  top: 0;
  &__menu-icon--mobile {
    position: absolute;
    top: 5px;
    right: 0;

    background-image: url("https://i.imgur.com/IvwKc3H.png");
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    &::before {
      content: "Menu";
      display: block;
      position: absolute;
      right: 60px;
      top: 12px;
      font-size: 1.8rem;
      font-family: "Share", cursive;
      color: white;
    }
  }
  ul {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    li {
      width: 100%;
    }
    .main-nav__listItem--margin-top {
      margin-top: 10px;
    }
    a {
      color: white;
      font-family: "Share", cursive;
      font-size: 4.5rem;
    }
  }
}
