
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 0, 0, 0.775)), url("https://bit.ly/2urFhKB");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  &__content {
    animation-delay: 3s;
    padding: 22px;
    text-align: center;
    animation: opacityText 3s ease-out;
    h1 {
      color: rgb(245, 245, 245);
      font-size: 4.5rem;
      font-family: "Share", cursive;
    }
    p {
      color: white;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: "Share", cursive;
    }
  }
}
